/* Modules CSS */

/* verify-order */

#verifyform .caption{
	margin-left: 25px;
	vertical-align: text-top;
}

/* category list, page list
-------------------------------------------------------------- */
.list-items .head {
	margin-bottom:4px;
}
.list-items .body {
	clear:both;
}
/*.list-items .footer {
	clear:both;
	margin-top:4px;
	margin-bottom:1px;
}*/
.list-items .footer {
	position:absolute;
	right:0;
	bottom:0;
	padding:0 3px 4px 0;
}
.list-items .headline {
	line-height:normal;
	padding-top:2px;
	padding-bottom:2px;
}
.list-items .title,
.list-items .desc {
	line-height:normal;
	vertical-align:top;
}
.list-items .mg-r {
	margin-right:6px;
}
.list-items .mg-l {
	margin-left:6px;
}
.list-items .mg-t {
	margin-top:3px;
}
.list-items .x-mg-t {
	margin-top:5px;
}
.list-items .pg-t {
	padding-top:3px;
}



/* -------------------------------------------------------------- 
   smartstore.megamenu.css
-------------------------------------------------------------- */

/* Nav/Opener
-------------------------------------------------------------- */

.mm-nav, 					
.mm-nav li					{ position: relative }

.mm-opener 					{ position: relative; /*z-index: 1001*/ }

.mm-nav li.has-children a span {
	display: inline-block !important;
}

.mm-chevron {
	display: inline-block;
	position: relative;
	width: 14px;
	height: 16px;
	line-height: 16px;
	background: transparent url('../images/mm-chevron.png') 0 0 no-repeat;
	vertical-align: middle;
}
.mm-nav.vertical .mm-chevron {
	background: transparent url('../images/mm-chevron-vert.png') 0 0 no-repeat;
}
.selected .mm-chevron	{ background-position: -42px 0 !important }
.hover .mm-chevron 		{ background-position: -14px 0 !important }
.mm-opener .mm-chevron 	{ background-position: -28px 0 !important }

/* Megamenu (target dropdowns)
-------------------------------------------------------------- */

.mm {
	display: none;
	position: absolute;
	z-index: 1000;
	padding: 10px 10px 10px 10px;
}

/* MC: NOT really necessary (??)
.iepre9 .mm {
	min-height: 150px !important;
}
*/

.ie9 .mm {
	/*background: url(../images/box.gradient.svg);
	background-size: 100% 100%;*/
}

.mm-col {
	width: 18em;
	float: left;
	background: transparent url('../images/separator-hor.png') repeat-y right top;
	height: 100%;
	margin-left: 6px;
}

.mm-col.omega {
	background: none;
}

.mm-col > ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-right: 6px;
}

.mm-col.omega > ul {
	padding-right: 0 !important;
}

.mm-col li.last {
	margin-bottom: .9em;
}

.mm-col > ul li:first-child {
	margin-top: 0;
}

.mm-title h4 {
	margin-bottom: 0;
	font-size: 1em;
	font-weight: bold;
}

.mm-count {
	vertical-align: top; 
	padding: 0 3px;
	font-weight: normal;
}

a.mm-entry {
	text-decoration: none !important;
	padding: 2px 0;
	margin-left: 18px;
	overflow: hidden;

	display: block;
	/*
	padding: 0.05em 0 0 0;
	*/


.a.mm-entry:hover { 
	text-decoration: none;
}

}
.mm-col li {
	position: relative;
	margin: 0;
	min-height: 17px;
	/*border: 1px solid transparent;*/
}
.mm-col .sm-icon,
.mm-col .ui-icon{
	position: absolute !important;
	margin-top: 1px;
}

.mm-col li.more a.mm-entry {}

/* eleminate border-right or border-bottom to enable continuous borders */
.mm-nav.vertical li{
	border-right: none !important;
}
.mm-nav.horizontal li{
	border-bottom: none !important;
}


/*
.product-list .pl-img {
	border: 0px;
	position: relative;
}
*/
.product-list .pl-infosheet,
.product-list .pl-itemvalue,
.product-list .pl-frame-parent,
.product-list .pl-datasheet{
	overflow: hidden;
}
/*
.product-list .pl-name{
	margin-bottom: 5px;
}
.product-list .pl-desc{
	margin-bottom: 5px;
}
*/
.pl-partslist-header,
.pl-partslist-amount{
	font-weight: bold;
}
.product-list .pl-add-to-bag{
	margin: 5px 0 10px 0;
}
.product-list .pnl-addtobasket > * {
	vertical-align: middle;
}
/*
.product-list .pl-item {
	vertical-align: middle;
	white-space: nowrap;
}
.product-list .pl-item span{
	overflow: hidden;
	vertical-align: middle;
	padding-bottom: 2px;
}
.product-list .pl-itemcaption {
	overflow: hidden;
	font-weight: bold;
	text-align: right;
}
.product-list .pl-itemcaption + span {
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	max-width: 49%;
}
*/
.product-list table{
	width: 100%;
}
.product-list th, 
.product-list td, 
.product-list caption {
    padding: 0.2em;
}
.product-list table .pl-itemcaption {
	font-weight: bold;
	max-width: 50%;
	padding-right: 5px;
	padding-left:0;
}
.product-list table .pl-itemvalue {
	max-width: 50%;
	width: 100%;
}
.product-list .pnl-quantity {
	display: inline-block !important;
	margin-right: 5px;
}

/*
.product-list .original-price-pnl span{
	text-decoration: line-through;
}
*/
.product-list .pr-on-request{
	margin-bottom: 10px;
	padding: 10px;
}
.product-list .bottom{
	position: absolute;
	bottom: 0px;
}
.pl-details-link{
	padding: 15px 6px 2px 4px;
}
.pl-details-link a{
	color: #000000;
	text-decoration: underline;
}
.pl-controls.bottom{
	right: 10px;
}
.pl-frame-parent img{
	position: relative;
}
.pl-frame-parent{
	min-height: 16px;
}
.delivtime{
	vertical-align: top !important;
}
.legal-hints{
	margin-top: 6px;
}
.pl-partslist{
	margin-bottom: 5px;
}
.product-list .discount{
	position: absolute;
	width: 22px;
	height: 22px;
	line-height: 22px;
	right: 0;
	top: 0;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	/* theme */
	background-color: red;
	color: #fff;
	text-shadow: 1px 1px 1px black;
}

/* list */
.product-list.list .pl-details-link,
.product-list.list .pl-add-to-bag{
	text-align: right;
}
.product-list.list .pl-itemcaption,
.product-list.list .pl-name {
	text-align: left;
}
.product-list.list .pl-sales{
	text-align: right;
	margin: -3px 5px 0 0;
}
.product-list.list .discount{
	width: 32px;
	font-size: 25px;
	height: 32px !important;
}
.product-list.list .discount span{
	vertical-align: middle;
}
.product-list.list .pl-frame-parent{
	text-align: center;
	float: left;
}
.product-list.list .pl-controls{
	white-space: nowrap;
	overflow: hidden;
}
.product-list.list .pl-sales{
	float: right;
}
.product-list.list .currency .decimal {
    font-size: 0.5em !important;
    letter-spacing: 0 !important;
    vertical-align: super !important;
}

/* grid */
.product-list.grid .pl-sales,
.product-list.scroll .pl-sales{
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.product-list.grid .pl-itemvalue,
.product-list.scroll .pl-itemvalue{
	width: 59%;
}
.product-list.grid .pl-itemcaption,
.product-list.scroll .pl-itemcaption{
	width: 39%;
	text-align: right;
}
.product-list.grid .pl-name,
.product-list.scroll .pl-name,
.product-list.grid .pl-desc,
.product-list.scroll .pl-desc{
	text-align: center;
}
.product-list.grid .pl-partslist,
.product-list.grid .pl-datasheet,
.product-list.scroll .pl-partslist,
.product-list.scroll .pl-datasheet,{
	margin: 5px 0 5px 0;
}
.product-list.grid .pl-partslist th,
.product-list.grid .pl-partslist td,
.product-list.scroll .pl-partslist th,
.product-list.scroll .pl-partslist td{
	padding: 0.1em;
}
.product-list.grid .pl-partslist .pl-partslist-amount,
.product-list.scroll .pl-partslist .pl-partslist-amount{
	width: 20px;1
}
.product-list.grid .pr-pre-panel,
.product-list.grid .pr-now-panel,
.product-list.scroll .pr-pre-panel,
.product-list.scroll .pr-now-panel{
	display: inline-block;
}
.product-list.grid .pr-pre-panel,
.product-list.scroll .pr-pre-panel{
	margin-right: 6px;
}
/* theme */
/*
.product-list.grid .original-price-pnl span {
	color: #5D5D5D !important;
	font-weight: normal !important;
}
*/

/* scroll */
.product-list.scroll,
.product-list .pl-slider{
	overflow: hidden;
	position: relative;
}
.product-list.scroll .pl-row{
	width: 30000px;
}
.product-list.scroll .pl-cell{
	width: 220px !important;
	float: left;
}
.product-list.scroll .pl-controls{
	text-align: center !important;
}
.product-list.scroll .pl-forward,
.product-list.scroll .pl-backward{
	display: inline-block;
	margin-right: 5px;
}

.product-list.scroll .pl-scroll-prev,
.product-list.scroll .pl-scroll-next{
	position: absolute;
}
.product-list.scroll .pl-scroll-prev{
	border-left-width: 1px !important;
}
.product-list.scroll .pl-scroll-next{
	border-right-width: 1px !important;
}
/* General */

#sm-product-detail {
	position: relative;
}

.sm-product-detail #pd-right {
	padding: 0 10px;
}
.sm-product-detail #pd-left {
	float: left;
	background: #fff;
}
.sm-product-detail .pd-section{
	margin: 5px 5px 0 5px;
	padding: 5px;
}

/* Name & Desc */
.sm-product-detail .page-title {
	line-height: normal;
}
#product_name {
	font-size: 1.6em !important
}
.page-title-larger #product_name {
	font-size: 2em !important
}

/* Add2Cart Panel */
#pd-add-to-cart-panel {
	padding: 8px 5px 8px 3px;
}

#pd-add-to-cart-panel .btn {
	margin-top: 3px;
}

#pd-add-to-cart-panel .heading {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	padding-top: 1px;
}
.sm-product-detail .price-info-block {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
#pd-info-block .heading,
.sm-product-detail .price-info-block .heading {
	width: 50%;
}
#pd-info-block div {
	padding-top:2px;
	padding-bottom:2px;
}
.sm-product-detail #price-panel {
	display: inline-block;
	width: 49%;
	margin-right: 2%;
}
.sm-product-detail #product_price {
	line-height: .8;
}
.sm-product-detail .currency .decimal { 
	font-size: .5em;
	letter-spacing: -1px;
	vertical-align: super;
}
.sm-product-detail .currency .symbol { 
	font-size: .55em;
}
.sm-product-detail .currency.small-amount .decimal { 
	font-size: 1em;
	letter-spacing: 0;
	vertical-align: baseline;
}
.sm-product-detail .currency.small-amount .symbol { 
	font-size: 1em;
}
.sm-product-detail .pd-price-seccur {
	margin-top: 3px;
}
.sm-product-detail .pd-base-price {
	margin-top: 10px;
}
.sm-product-detail .pd-shipment-hint {
	margin-bottom: 10px;
}
.sm-product-detail .pd-shipment-hint.no-base-price {
	margin: 10px 0;
}

#product_delivery_caption,
.delivery-time .delivtime {
	margin-left:4px;
}
/*.sm-product-detail .delivery-time{
	margin: 10px 0 15px 0;
}*/
.sm-product-detail #pd-add-to-cart-panel .delivery-time .heading{
	vertical-align: bottom;
}
.sm-product-detail .pnl-quantity{
	display: inline-block;
	height: 21px;
	margin-right: 5px;
}
.sm-product-detail .pnl-addtobasket{
	vertical-align: middle;
}
.sm-product-detail .pnl-addtobasket-qtyunit{
	vertical-align: middle;
}
.sm-product-detail  select.pnl-addtobasket-qty{
	height: 100%;
}

/* Variants */
.sm-product-detail #pd-variants > form {
	display: inline;
}
.sm-product-detail .pd-item {
	margin: 5px;
}
.sm-product-detail #pd-variants .pd-itemcaption,
.sm-product-detail .pd-section .heading{
	color: #464646;
	display: inline-block;
}
.sm-product-detail .pd-item .pd-itemcaption {
	width: 49%;
	padding-right: 2%;
	vertical-align: middle;
	display: inline-block;
}
.sm-product-detail .pd-item .pd-itemcaption a {
    margin-right: 7px;
}
.sm-product-detail .pd-itemcaption.chk a {
	margin-right:0;
}
.sm-product-detail .pd-itemcaption label {
	vertical-align: top;
	color: #464646;
}
.sm-product-detail .pd-item .pd-itemcaption a img {
	vertical-align: bottom;
}
.sm-product-detail #pd-variants {
	margin: 10px 0;
}
.sm-product-detail #pd-variants .type {}
.sm-product-detail .pd-itemvalue {
	width: 49%;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}
.sm-product-detail .pd-itemvalue select {
	max-width: 100%;
}
.sm-product-detail .pd-itemcaption a {
	margin-right: 7px;
}
.sm-product-detail .pd-vat-info,
.sm-product-detail .pd-shipping-surcharge {
	padding-right: 5px;
}

/* Attributes */
.sm-product-detail #pd-attributes {
	margin:30px 0;
}
.sm-product-detail #pd-attributes input {
	max-width: 97%;
}
.sm-product-detail #pd-attributes .pd-itemlabel {
	display: block;
	width: auto;
	min-height: 20px;
}
.sm-product-detail #pd-attributes input[type=checkbox] {
	vertical-align: top;
	float: left;
}

/* Discounts */
.sm-product-detail #pd-discounts {}
.sm-product-detail .discounts-headline {
	font-weight: bold;
	text-decoration: underline;
}
.sm-product-detail .discounts-list {
	width: 100%;
	margin: 8px 0;
	/* TBD: theme */
	border-top: 1px solid #BABABA;
}

/* Widget */
#sm-product-detail {}

/* SmartGallery Elements */

/* big */
#pd-gallery-small,
#pd-gallery-big {
	padding: 1px;
	margin: auto;
	text-align: center;
}
/*
#pd-gallery-big {
	background: #fff;
	padding: 0 10px 10px 10px;
}
*/

#monthly-rate {
    position: relative;
    margin-top: 3px;
    text-align: center;
    padding: 5px;
}
#monthly-rate > div {
	display: inline-block;
}
	/*
	#monthly-rate-logo,
	#monthly-rate-info {
		position: relative;
		display: inline-block;
	}

	#monthly-rate-logo {
		margin-right: 3px;
	}

	#monthly-rate-logo img {
		max-height: 28px;
		width: auto;
	}
	*/

	#monthly-rate-info {
	    /*background: url() no-repeat left 50%;*/
    	background: url(../images/pd-klarna-fi.png) no-repeat left 50%;
    	height: 28px;
    	display: table-cell;
    	vertical-align: middle;
    	padding-left: 95px;
	}

	#monthly-rate-info > span {
		vertical-align: sub;
	}

	#monthly-rate-info > span > span {
		vertical-align: text-bottom;
	}

#monthly-rate .prefix {}
#monthly-rate .rate {
	font-weight: bold;
	/*color: red;*/
}
#monthly-rate .suffix a {
	/*color: #009FD9;*/
}


#product_name { /*color: #5D5D5D*/ }

.sm-product-detail #product_price{
	white-space: nowrap;
	font-size: 2.3em;
	letter-spacing: -2px;
	color: #228195;
	/*text-shadow: 1px 1px 0 rgba(0,0,0, 0.8), -1px -1px 0 rgba(255,255,255, 0.3), 0 0 10px #fff;*/
	text-shadow: -1px 0 1px white, 
				 0 -1px 1px white, 
				 0 1px 1px white, 
				 1px 0 1px white, 
				 0 0 8px white, 
				 0 0 8px white, 
				 0 0 8px white, 
				 2px 2px 2px #555;
	vertical-align: bottom;
}
.sm-product-detail #product_original_price{
	color: #63C7DC;
}
.sm-product-detail #product_difference{
	color: #000000;
}
.sm-product-detail .pd-suffix{
	color: #5D5D5D;
}

#pd-gallery-small .thumb { height: 50px }
#pd-gallery-big .thumb { height: 50px }

.discounts-headline{
	text-decoration: none !important;
	font-weight: bold;
	padding: 8px 0;
	margin: 8px 0 -1px 0;
}
.discounts-list{
	margin-top: 0 !important;
}

.sm-product-detail #pd-add-to-cart-panel {
	border-color: #E0E0E0 !important;
}
.attr-table {
	word-wrap:break-word;
}
.attr-table td {
	vertical-align:top;
	border-bottom:solid 1px #9E9E9E;
}
.attr-table ul {
	margin:0;
	padding:0;
}
.attr-table img,
.attr-list img {
	vertical-align:top;
}

.attr-list-groups > li {
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}
.attr-list-groups > li > span {
	font-weight:bold;
	display:inline-block;
	margin-bottom:2px;
}
.attr-list li {
	padding-top:3px;
	min-height:16px;
}
/* module: navbar/checkout.module
-------------------------------------------------------------- */
.checkout .icon{
	background: url(../images/checkout-sprite.png) no-repeat;
	width: 64px;
	height: 64px;
}
.visited .co-basket{
	background-position: 0 -64px !important;
}
.visited .co-address{
	background-position: 0 -128px !important;
}
.visited .co-shipment{
	background-position: 0 -192px !important;
}
.visited .co-payment{
	background-position: 0 -256px !important;
}
.visited .co-send{
	background-position: 0 -320px !important;
}
.visited .co-default{
	background-position: 0 0 !important;
}
.active .co-basket{
	background-position: -64px -64px !important;
}
.active .co-address{
	background-position: -64px -128px !important;
}
.active .co-shipment{
	background-position: -64px -192px !important;
}
.active .co-payment{
	background-position: -64px -256px !important;
}
.active .co-send{
	background-position: -64px -320px !important;
}
.active .co-default{
	background-position: -64px 0 !important;
}
.co-basket{
	background-position: -128px -64px !important;
}
.co-address{
	background-position: -128px -128px !important;
}
.co-shipment{
	background-position: -128px -192px !important;
}
.co-payment{
	background-position: -128px -256px !important;
}
.co-send{
	background-position: -128px -320px !important;
}
.co-default{
	background-position: -128px 0 !important;
}
nav.checkout h3{
	margin: 0;
}
nav.checkout ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav.checkout{
	display: block;
	clear: both;
	margin: 10px 0;
}
nav.checkout ul li{
	float: left;
	text-align: center;
}
nav.checkout ul li.visited .item{
	background-color: #F9F9F9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(75%, #FDFDFD), color-stop(100%, #E1E1E1) );
	background: linear-gradient( top, #FDFDFD 0%, #FDFDFD 75%, #E1E1E1 100% );
	background: -moz-linear-gradient( top, #FDFDFD 0%, #FDFDFD 75%, #E1E1E1 100% );
	background: -webkit-linear-gradient( top, #FDFDFD 0%, #FDFDFD 75%, #E1E1E1 100% );
	background: -o-linear-gradient( top, #FDFDFD 0%, #FDFDFD 75%, #E1E1E1 100% );
	background: -ms-linear-gradient( top, #FDFDFD 0%, #FDFDFD 75%, #E1E1E1 100% );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFDFDFD', endColorstr='#FFE1E1E1', GradientType=0 );
}
.ie9 nav.checkout ul li.visited .item{
	background: url(../images/box.gradient.grey.svg);
	background-size: 100% 100%;
}
nav.checkout ul li.active .item{
	/*
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0, 0.1); -moz-box-shadow: 2px 2px 2px rgba(0,0,0, 0.1); box-shadow: 2px 2px 2px rgba(0,0,0, 0.1)
	*/
}
nav.checkout ul li .icon{
	display: inline-block;
}
nav.checkout ul li .item{
	border: 1px solid #ccc;
	margin: 3px;
	padding: 0 3px;
	-moz-border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px;
}
nav.checkout span{
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

nav.checkout{
	padding: 0;
}
nav.checkout ul li .item{
	-moz-border-radius: 0 0 0 0 / 0 0 0 0; -webkit-border-radius: 0 0 0 0 / 0 0 0 0; border-radius: 0 0 0 0 / 0 0 0 0;
}
nav.checkout ul li .item.alpha{
	-moz-border-radius-topleft: 4px 4px; -webkit-border-top-left-radius: 4px 4px; border-top-left-radius: 4px 4px; -moz-border-radius-bottomleft: 4px 4px; -webkit-border-bottom-left-radius: 4px 4px; border-bottom-left-radius: 4px 4px;
}
nav.checkout ul li .item.omega{
	-moz-border-radius-topright: 4px 4px; -webkit-border-top-right-radius: 4px 4px; border-top-right-radius: 4px 4px; -moz-border-radius-bottomright: 4px 4px; -webkit-border-bottom-right-radius: 4px 4px; border-bottom-right-radius: 4px 4px;
}
nav.checkout ul li .item{
	margin: 0 0 0 -1px;
	overflow: hidden;
	height: 120px;
}
nav.checkout ul li .item .first-line{
	white-space: normal !important;
}
.sitemap {
	margin-right: -10px;
}
.sitemap .groupheader{
	border-bottom: 1px solid #D5D5D5;
	margin: 20px 10px 10px 0;
	padding: 3px;
	font-size: 1.6em;
	text-shadow: 1px 1px 1px #ccc;
}
.sitemap ul li {
	list-style-type: none;
}
.sitemap > ul{
	padding: 0;
	margin: 0;
}
.sitemap ul{
	margin-top: 2px;
}
.sitemap ul li.first {
	margin: 10px 0;
}

/* general */
.sitemap ul li {
	line-height: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
}
.sitemap ul li a {
	/*color: #76797C;*/
	vertical-align: sub;
	margin-left: 2px;
}
.sitemap ul li a:hover {
	/*color: #464646;*/
}
.sitemap ul li img {
	vertical-align: middle;
}

.sitemap > ul > li.first > ul > li {
	margin: 0;
}
/* first */
.sitemap > ul > li {
	float: left;
	margin: 0px;
	padding: 0px;
	line-height: 16px;
	overflow: hidden;

}
.sitemap > ul > li > span{
	border-bottom: 1px solid #D5D5D5;
	padding-bottom: 5px;
    display: block;
    margin: 0 10px 0 0;
}
.sitemap > ul > li > span > a {
	color: #646464;
	font-weight: bold;
	vertical-align: sub;
	margin-left: 18px;
	display: block;
	overflow:hidden;
	/*margin-left: 2px;	*/
}
.sitemap > ul > li > span > a:hover {
	/*color: #666;*/
}
.sitemap > ul > li > span > img {
	vertical-align: middle;
	float: left;
}
